<div class="container py-5">
  <h1 class= "display-4">inscription</h1>

  <div class="row">
    <div class="col-8 mx-auto">
      <form [formGroup]="signupForm"(ngSubmit)="onSignupUser()">
        <div class="form-group">
          <input formControlName="email" type="email" placeholder="adresse email" class="form-control">
        </div>
        <div class="form-group">
          <input  formControlName="password" type="password" placeholder="mot de passe" class="form-control">
        </div>
        <div class="form-group">
          <input  formControlName="passwordConfirm" type="password" placeholder="confirmation du mot de passe" class="form-control">
        </div>
        <div class="text-center">
          <button class="btn btn-primary" type="submit" [disabled]="signupForm.invalid">inscription</button>
        </div>
      </form>

    </div>
  </div>
</div>
